<script src="/lib/jquery/js/jquery.js"></script>
    <script src="/lib/popper.js/js/popper.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/lib/jquery.steps/js/jquery.steps.js"></script>
    <script src="/lib/parsleyjs/js/parsley.js"></script>
    <script src="/lib/moment/js/moment.js"></script>
    <script src="/lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="/lib/select2/js/select2.full.min.js"></script>
    <script src="/js/imagepreview.js"></script>
    <script src="/lib/jquery-repeater/jquery-repeater.min.js"></script>
    <script src="/js/repeater.js"></script>
    <script src="/js/countries.js"></script>

    <script src="../js/slim.js"></script>

    
    <script>
      $(document).ready(function(){
        'use strict';

        $('#wizard1').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>'
        });

        $('#wizard2').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          onStepChanging: function (event, currentIndex, newIndex) {
            if(currentIndex < newIndex) {
              // Step 1 form validation
              if(currentIndex === 0) {
                var fname = $('#firstname').parsley();
                var lname = $('#lastname').parsley();

                if(fname.isValid() && lname.isValid()) {
                  return true;
                } else {
                  fname.validate();
                  lname.validate();
                }
              }

              // Step 2 form validation
              if(currentIndex === 1) {
                var email = $('#email').parsley();
                if(email.isValid()) {
                  return true;
                } else { email.validate(); }
              }
            // Always allow step back to the previous step even if the current step is not valid.
            } else { return true; }
          }
        });

     /**   $('#wizard3').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          stepsOrientation: 1
        }); **/

        $('#wizard4').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          cssClass: 'wizard step-equal-width'
        });

        $('#wizard5').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          cssClass: 'wizard wizard-style-1'
        });

        $('#wizard6').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          cssClass: 'wizard wizard-style-2'
        });

        $('#wizard7').steps({
          headerTag: 'h3',
          bodyTag: 'section',
          autoFocus: true,
          titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
          cssClass: 'wizard wizard-style-3'
        });

      });
    </script>

    <script>
 $(document).ready(function(){
       // Wizard tabs with icons setup
$("#wizard3").steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "fade",
    titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
    stepsOrientation: 1,
    labels: {
        finish: 'Submit'
    },
    onFinished: function (event, currentIndex) {
        form.submit();
    }
});                     

})
     
</script>

<script>
  $(function(){
    'use strict'

    // Datepicker
    $('.fc-datepicker').datepicker({
      showOtherMonths: true,
      selectOtherMonths: true
    });
  });
</script>


<script>
  $(document).ready(function () {
      $('.repeater').repeater({
          // (Optional)
          // start with an empty list of repeaters. Set your first (and only)
          // "data-repeater-item" with style="display:none;" and pass the
          // following configuration flag
          initEmpty: true,
          // (Optional)
          // "defaultValues" sets the values of added items.  The keys of
          // defaultValues refer to the value of the input's name attribute.
          // If a default value is not specified for an input, then it will
          // have its value cleared.
          defaultValues: {
              'text-input': 'foo'
          },
          // (Optional)
          // "show" is called just after an item is added.  The item is hidden
          // at this point.  If a show callback is not given the item will
          // have $(this).show() called on it.
          show: function () {
              $(this).slideDown();
          },
          // (Optional)
          // "hide" is called when a user clicks on a data-repeater-delete
          // element.  The item is still visible.  "hide" is passed a function
          // as its first argument which will properly remove the item.
          // "hide" allows for a confirmation step, to send a delete request
          // to the server, etc.  If a hide callback is not given the item
          // will be deleted.
          hide: function (deleteElement) {
              if(confirm('Are you sure you want to delete this element?')) {
                  $(this).slideUp(deleteElement);
              }
          },
          // (Optional)
          // You can use this if you need to manually re-index the list
          // for example if you are using a drag and drop library to reorder
          // list items.
         /*  ready: function (setIndexes) {
              $dragAndDrop.on('drop', setIndexes);
          }, */
          // (Optional)
          // Removes the delete button from the first list item,
          // defaults to false.
          isFirstItemUndeletable: true
      })
  });
</script>
